In [452]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import csv

import datetime
from datetime import date
import calendar


import numpy as np
from bokeh.io import show
from bokeh.layouts import column
from bokeh.models import ColumnDataSource, RangeTool
from bokeh.plotting import figure
#from bokeh.sampledata.stocks import AAPL
from bokeh.plotting import figure, output_file, show
from bokeh.plotting import figure, output_file, show
from bokeh.models import ColumnDataSource, Plot, LinearAxis, Grid
from bokeh.models.glyphs import Line

In [453]:
# numeros totales
# actividad por hora
# promedios por mes o por a침o

# palabras mas comunes del grupo
# palabras mas comunes por usuario
# palabras mas comunes por dia


# participacion en el grupo - cake

# dia mas activo
# cantidad de mensajes cronologicos por mes

# mas multimediero

In [454]:
#data = pd.read_csv("Whatsapp group chat.txt") 

#filename = 'MyFile.txt' 
fin=open("chat.txt",'r')
fin

In [455]:
with open('chat.txt', 'r', encoding="utf8") as myfile:
  data = myfile.read()
sentences = data.split('\n')

In [463]:
sentences[220:230]
usertext

'Moda Cl: Me acaba de llamar leo para ver si llegamos bien. Un poco m치s de respeto por la flia smachetti che'

In [475]:
#for i in sentences[i]:
df = pd.DataFrame()
for i in range(228,230):

    date = sentences[i].split('-',1)[0].strip()
    usertext = sentences[i].split('-',1)[1].strip()
    user = usertext.split(':',1)[0].strip()
    text = usertext.split(':',1)[1].strip()

    try:
        date = sentences[i].split('-',1)[0].strip()
        usertext = sentences[i].split('-')[1].strip()
        user = usertext.split(':',1)[0].strip()
        text = usertext.split(':',1)[1].strip()

    except IndexError:
         date = None
         usertext = None
         user = None
         text = None
    
    
    
    serie = pd.Series([user, date, text, hour], index=['user', 'date', 'text', 'hour'])
    df = df.append(serie, ignore_index=True)

In [468]:
#df.date = pd.to_datetime(df.date,format='%d/%m/%y')
df.date = pd.to_datetime(df.date,format='%d/%m/%y %H:%M')
df['week'] = df.date.dt.week
df['year'] = df.date.dt.year
df['month'] = df.date.dt.month
df['weekdaynr'] = df.date.dt.weekday
df['hour'] = df.date.dt.hour
df['date3'] = df.date.dt.date


#calendar.day_name[my_date.weekday()]

In [469]:
df

,date,hour,text,user,week,year,month,weekdaynr,date3
0,2016-03-11 23:08:00,23,Eey que onda esta banda?,Rama cl,10,2016,3,4,2016-03-11
1,2016-03-12 02:33:00,2,No hay nadie en el peishe cats,Riti Cell,10,2016,3,5,2016-03-12
2,2016-03-12 03:20:00,3,Tengo fiesta con minas y barra libre,Pelado Ale,10,2016,3,5,2016-03-12
3,2016-03-12 03:20:00,3,Alguno est치?,Pelado Ale,10,2016,3,5,2016-03-12
4,2016-03-12 15:04:00,15,<Multimedia omitido>,Moda Cl,10,2016,3,5,2016-03-12
...,...,...,...,...,...,...,...,...,...
94,2016-03-13 22:20:00,22,Ay dios,Rama cl,10,2016,3,6,2016-03-13
95,2016-03-13 22:20:00,22,Foto o ban,Rama cl,10,2016,3,6,2016-03-13
96,2016-03-13 22:20:00,22,Ah,Rama cl,10,2016,3,6,2016-03-13
97,2016-03-13 22:24:00,22,kici con navarro,Lobo cl,10,2016,3,6,2016-03-13
98,2016-03-13 22:30:00,22,Me acaba de llamar leo para ver si llegamos bi...,Moda Cl,10,2016,3,6,2016-03-13

In [459]:
weekdaynames = ["Lunes","Martes","Miercoles","Jueves","Viernes","Sabado","Domingo"]
#df['weekday'] = weekDays[df['weekday']]

#df['weekday'] = df['weekday'].apply(lambda x: weekDays[df['weekday']])
df['weekday'] = df['weekdaynr'].apply(lambda x: weekDays[x])
df.sample(3)

,date,hour,text,user,week,year,month,weekdaynr,date3,weekday
86,2016-03-13 22:19:00,22,Sos el peor,Sebi Cell,10,2016,3,6,2016-03-13,Domingo
17,2016-03-12 18:07:00,18,C칩mo va la shafa 250,Fede Sharley,10,2016,3,5,2016-03-12,Sabado
58,2016-03-13 21:22:00,21,游,Moda Cl,10,2016,3,6,2016-03-13,Domingo

In [460]:
df_graph1.sample(3)

            date  hour  text  user  week  year  month  weekdaynr  weekday
date3
2016-03-13    61    61    61    61    61    61     61         61       61
2016-03-11     1     1     1     1     1     1      1          1        1
2016-03-12    37    37    37    37    37    37     37         37       37

In [461]:
dates[3]

IndexError: index 3 is out of bounds for axis 0 with size 3

In [ ]:
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()

import matplotlib.pyplot as plt
import numpy as np

x = df_graph1.index
y = df_graph1.text

plt.stem(x, y)
plt.show()

In [ ]:
import numpy as np

from bokeh.io import show
from bokeh.layouts import column
from bokeh.models import ColumnDataSource, RangeTool
from bokeh.plotting import figure
from bokeh.sampledata.stocks import AAPL

dates = np.array(AAPL['date'], dtype=np.datetime64)
source = ColumnDataSource(data=dict(date=dates, close=AAPL['adj_close']))

p = figure(plot_height=300, plot_width=800, tools="xpan", toolbar_location=None,
           x_axis_type="datetime", x_axis_location="above",
           background_fill_color="#efefef", x_range=(dates[1500], dates[2500]))

p.line('date', 'close', source=source)
p.yaxis.axis_label = 'Price'

select = figure(title="Drag the middle and edges of the selection box to change the range above",
                plot_height=130, plot_width=800, y_range=p.y_range,
                x_axis_type="datetime", y_axis_type=None,
                tools="", toolbar_location=None, background_fill_color="#efefef")

range_tool = RangeTool(x_range=p.x_range)
range_tool.overlay.fill_color = "navy"
range_tool.overlay.fill_alpha = 0.2

select.line('date', 'close', source=source)
select.ygrid.grid_line_color = None
select.add_tools(range_tool)
select.toolbar.active_multi = range_tool

show(column(p, select))

In [ ]:
dates[1500]